<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>rider_man_00.png</key>
            <dict>
                <key>frame</key>
                <string>{{86,232},{40,88}}</string>
                <key>offset</key>
                <string>{4,-5}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{48,25},{40,88}}</string>
                <key>sourceSize</key>
                <string>{128,128}</string>
            </dict>
            <key>rider_man_01.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,406},{40,92}}</string>
                <key>offset</key>
                <string>{3,-5}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{47,23},{40,92}}</string>
                <key>sourceSize</key>
                <string>{128,128}</string>
            </dict>
            <key>rider_man_02.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,312},{40,92}}</string>
                <key>offset</key>
                <string>{4,-6}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{48,24},{40,92}}</string>
                <key>sourceSize</key>
                <string>{128,128}</string>
            </dict>
            <key>rider_man_03.png</key>
            <dict>
                <key>frame</key>
                <string>{{44,312},{40,90}}</string>
                <key>offset</key>
                <string>{4,-5}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{48,24},{40,90}}</string>
                <key>sourceSize</key>
                <string>{128,128}</string>
            </dict>
            <key>rider_man_04.png</key>
            <dict>
                <key>frame</key>
                <string>{{268,402},{40,84}}</string>
                <key>offset</key>
                <string>{7,-5}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{51,27},{40,84}}</string>
                <key>sourceSize</key>
                <string>{128,128}</string>
            </dict>
            <key>rider_man_05.png</key>
            <dict>
                <key>frame</key>
                <string>{{44,404},{42,88}}</string>
                <key>offset</key>
                <string>{7,-6}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{50,26},{42,88}}</string>
                <key>sourceSize</key>
                <string>{128,128}</string>
            </dict>
            <key>rider_man_06.png</key>
            <dict>
                <key>frame</key>
                <string>{{258,230},{40,84}}</string>
                <key>offset</key>
                <string>{7,-5}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{51,27},{40,84}}</string>
                <key>sourceSize</key>
                <string>{128,128}</string>
            </dict>
            <key>rider_man_07.png</key>
            <dict>
                <key>frame</key>
                <string>{{88,404},{42,86}}</string>
                <key>offset</key>
                <string>{7,-6}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{50,27},{42,86}}</string>
                <key>sourceSize</key>
                <string>{128,128}</string>
            </dict>
            <key>rider_man_08.png</key>
            <dict>
                <key>frame</key>
                <string>{{314,2},{100,72}}</string>
                <key>offset</key>
                <string>{12,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{26,28},{100,72}}</string>
                <key>sourceSize</key>
                <string>{128,128}</string>
            </dict>
            <key>rider_man_09.png</key>
            <dict>
                <key>frame</key>
                <string>{{108,2},{102,72}}</string>
                <key>offset</key>
                <string>{10,2}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{23,26},{102,72}}</string>
                <key>sourceSize</key>
                <string>{128,128}</string>
            </dict>
            <key>rider_man_10.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,2},{104,72}}</string>
                <key>offset</key>
                <string>{10,2}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{22,26},{104,72}}</string>
                <key>sourceSize</key>
                <string>{128,128}</string>
            </dict>
            <key>rider_man_11.png</key>
            <dict>
                <key>frame</key>
                <string>{{212,2},{100,72}}</string>
                <key>offset</key>
                <string>{12,1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{26,27},{100,72}}</string>
                <key>sourceSize</key>
                <string>{128,128}</string>
            </dict>
            <key>rider_man_12.png</key>
            <dict>
                <key>frame</key>
                <string>{{210,316},{64,84}}</string>
                <key>offset</key>
                <string>{8,-5}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{40,27},{64,84}}</string>
                <key>sourceSize</key>
                <string>{128,128}</string>
            </dict>
            <key>rider_man_13.png</key>
            <dict>
                <key>frame</key>
                <string>{{190,230},{66,84}}</string>
                <key>offset</key>
                <string>{7,-4}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{38,26},{66,84}}</string>
                <key>sourceSize</key>
                <string>{128,128}</string>
            </dict>
            <key>rider_man_14.png</key>
            <dict>
                <key>frame</key>
                <string>{{132,404},{68,84}}</string>
                <key>offset</key>
                <string>{6,-5}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{36,27},{68,84}}</string>
                <key>sourceSize</key>
                <string>{128,128}</string>
            </dict>
            <key>rider_man_15.png</key>
            <dict>
                <key>frame</key>
                <string>{{202,402},{64,84}}</string>
                <key>offset</key>
                <string>{8,-3}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{40,25},{64,84}}</string>
                <key>sourceSize</key>
                <string>{128,128}</string>
            </dict>
            <key>rider_man_16.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,152},{88,76}}</string>
                <key>offset</key>
                <string>{13,-1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{33,27},{88,76}}</string>
                <key>sourceSize</key>
                <string>{128,128}</string>
            </dict>
            <key>rider_man_17.png</key>
            <dict>
                <key>frame</key>
                <string>{{292,76},{90,78}}</string>
                <key>offset</key>
                <string>{12,-1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{31,26},{90,78}}</string>
                <key>sourceSize</key>
                <string>{128,128}</string>
            </dict>
            <key>rider_man_18.png</key>
            <dict>
                <key>frame</key>
                <string>{{384,78},{90,76}}</string>
                <key>offset</key>
                <string>{12,-2}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{31,28},{90,76}}</string>
                <key>sourceSize</key>
                <string>{128,128}</string>
            </dict>
            <key>rider_man_19.png</key>
            <dict>
                <key>frame</key>
                <string>{{100,150},{88,80}}</string>
                <key>offset</key>
                <string>{13,-3}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{33,27},{88,80}}</string>
                <key>sourceSize</key>
                <string>{128,128}</string>
            </dict>
            <key>rider_man_20.png</key>
            <dict>
                <key>frame</key>
                <string>{{198,76},{92,72}}</string>
                <key>offset</key>
                <string>{-1,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{17,28},{92,72}}</string>
                <key>sourceSize</key>
                <string>{128,128}</string>
            </dict>
            <key>rider_man_21.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,76},{96,74}}</string>
                <key>offset</key>
                <string>{0,1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{16,26},{96,74}}</string>
                <key>sourceSize</key>
                <string>{128,128}</string>
            </dict>
            <key>rider_man_22.png</key>
            <dict>
                <key>frame</key>
                <string>{{100,76},{96,72}}</string>
                <key>offset</key>
                <string>{1,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{17,28},{96,72}}</string>
                <key>sourceSize</key>
                <string>{128,128}</string>
            </dict>
            <key>rider_man_23.png</key>
            <dict>
                <key>frame</key>
                <string>{{416,2},{92,74}}</string>
                <key>offset</key>
                <string>{-1,1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{17,26},{92,74}}</string>
                <key>sourceSize</key>
                <string>{128,128}</string>
            </dict>
            <key>rider_man_24.png</key>
            <dict>
                <key>frame</key>
                <string>{{310,396},{78,78}}</string>
                <key>offset</key>
                <string>{2,-1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{27,26},{78,78}}</string>
                <key>sourceSize</key>
                <string>{128,128}</string>
            </dict>
            <key>rider_man_25.png</key>
            <dict>
                <key>frame</key>
                <string>{{190,150},{80,78}}</string>
                <key>offset</key>
                <string>{3,-2}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{27,27},{80,78}}</string>
                <key>sourceSize</key>
                <string>{128,128}</string>
            </dict>
            <key>rider_man_26.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,230},{82,80}}</string>
                <key>offset</key>
                <string>{3,-3}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{26,27},{82,80}}</string>
                <key>sourceSize</key>
                <string>{128,128}</string>
            </dict>
            <key>rider_man_27.png</key>
            <dict>
                <key>frame</key>
                <string>{{276,316},{78,78}}</string>
                <key>offset</key>
                <string>{1,-2}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{26,27},{78,78}}</string>
                <key>sourceSize</key>
                <string>{128,128}</string>
            </dict>
            <key>rider_man_28.png</key>
            <dict>
                <key>frame</key>
                <string>{{390,156},{60,78}}</string>
                <key>offset</key>
                <string>{-1,-3}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{33,28},{60,78}}</string>
                <key>sourceSize</key>
                <string>{128,128}</string>
            </dict>
            <key>rider_man_29.png</key>
            <dict>
                <key>frame</key>
                <string>{{128,232},{60,86}}</string>
                <key>offset</key>
                <string>{0,-5}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{34,26},{60,86}}</string>
                <key>sourceSize</key>
                <string>{128,128}</string>
            </dict>
            <key>rider_man_30.png</key>
            <dict>
                <key>frame</key>
                <string>{{148,320},{60,80}}</string>
                <key>offset</key>
                <string>{0,-3}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{34,27},{60,80}}</string>
                <key>sourceSize</key>
                <string>{128,128}</string>
            </dict>
            <key>rider_man_31.png</key>
            <dict>
                <key>frame</key>
                <string>{{86,322},{60,80}}</string>
                <key>offset</key>
                <string>{-1,-3}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{33,27},{60,80}}</string>
                <key>sourceSize</key>
                <string>{128,128}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>rider_man.png</string>
            <key>size</key>
            <string>{512,512}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:fee6f57ba6849df7f14dee6bda48fa55$</string>
            <key>textureFileName</key>
            <string>rider_man.png</string>
        </dict>
    </dict>
</plist>
